@using ScrewTurn.Wiki.Web.Localization.Common

@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<h1 class="pagetitlesystem">@Error.LblError_Text</h1>
<table width="98%">
    <tr>
        <td>
            <img src="/Content/Images/Error.png" alt="Error" />
        </td>
        <td>
            <p>
                @Html.Raw(@Error.LblDescription_Text)
            </p>
        </td>
    </tr>
</table>

