@model ScrewTurn.Wiki.Web.Models.User.LanguageModel
@{
    Layout = "~/Views/Shared/_SALayout.cshtml";
}

<h1 class="pagetitlesystem">Language/Time Zone Selection</h1>
@using (Html.BeginForm("Language", "User"))
{
    @Html.AntiForgeryToken()
    <p>
        Please select your preferred language and time zone.<br/>
        <b>Note</b>: you must enable cookies to use the language and time zone selection features.<br/>
        This page is in English to allow everyone to change the language.
    </p>
    <br/>

    @Html.DropDownListFor(m => m.SelectedLanguage, Model.Languages, new { })
    @Html.Raw(" ")
    @Html.DropDownListFor(m => m.SelectedTimezone, Model.Timezones, new { })

    <input type="submit" class="button" value="Set" />
}