<?xml version="1.0" encoding="utf-8" ?>
<screwTurnWiki>
  <stwSettings>
    <add name="Installed" value="True" />
    <add name="PublicDirectory" value="public" />
    <add name="GlobalSettingsStorageProvider" value="ScrewTurn.Wiki.Plugins.SqlServer.SqlServerGlobalSettingsStorageProvider, SqlServerProviders" />
    <add name="GlobalSettingsStorageProviderConfig" value="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;" />
  </stwSettings>
  <wikiList>
    <add name="root" host="" />
  </wikiList>
  <settingsProvider>
    <add name="ScrewTurn.Wiki.Plugins.SqlServer.SqlServerSettingsStorageProvider"
      assembly="SqlServerProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </settingsProvider>
  <filesProviders>
    <add name="ScrewTurn.Wiki.Plugins.FSProviders.FilesStorageProvider"
      assembly="FSProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </filesProviders>
  <usersProviders>
    <add name="ScrewTurn.Wiki.Plugins.SqlServer.SqlServerUsersStorageProvider"
      assembly="SqlServerProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </usersProviders>
  <themesProviders>
    <add name="ScrewTurn.Wiki.Plugins.FSProviders.ThemesStorageProvider"
      assembly="FSProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </themesProviders>
  <pagesProviders>
    <add name="ScrewTurn.Wiki.Plugins.SqlServer.SqlServerPagesStorageProvider"
      assembly="SqlServerProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </pagesProviders>
  <indexDirectoryProviders>
    <add name="ScrewTurn.Wiki.Plugins.SqlServer.SqlServerIndexDirectoryProvider"
      assembly="SqlServerProviders" paramsConfig="Data Source=.;Initial Catalog=WikiTour;Integrated Security=True;"
      isDefault="True" />
  </indexDirectoryProviders>
</screwTurnWiki>
