<?xml version="1.0" encoding="utf-8" ?>
<screwTurnWiki>
  <stwSettings>
    <add name="Installed" value="false" />
    <add name="PublicDirectory" value="public" />
    <add name="GlobalSettingsStorageProvider" value="" />
    <add name="GlobalSettingsStorageProviderConfig" value="" />
  </stwSettings>
  <wikiList>
    <add name="root" host="" />
  </wikiList>
  <settingsProvider>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </settingsProvider>
  <filesProviders>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </filesProviders>
  <usersProviders>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </usersProviders>
  <themesProviders>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </themesProviders>
  <pagesProviders>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </pagesProviders>
  <indexDirectoryProviders>
    <add name="" assembly="" paramsConfig="" isDefault="True" />
  </indexDirectoryProviders>
</screwTurnWiki>
